.dis_display_block
{
    display:block !important;
}
.dis_display_none
{
    display:none;
}
.hbg{
    background-image: url('../images/my_header.jpg') ;
    background-size: 100% 100%;
    /*width: 100%;*/
}
.c-gra2{
    background-color: #EFEFF0;
}
.top{
    margin-top: 3em;
}
.guwh{
    width: 4.3em;
    height:4.3em;
}
.gmt{
    margin-top:.4em;
}

.gmr{
    margin-right: -1.5em;
}
.gml{
    margin-left: -1.5em;
}
.gmll{
    margin-left: 1em;
}
.gbc{
    background-color: #9ADACA;
}
.gbcc{
    background-color: white;
    height: 2.5em;
}
.gwh{
    height: 6em;
}
.gmp{
    margin: .5em;
    padding: .5em;
}
.gac{
    border-radius:.5em .5em 0 0 ;     
}
.gacb{
    border-radius: 0 0 0.5em 0.5em;
}
.gpb{
   padding:.1em 0.4em;
   border-radius: .5em; 
}
.guba1{
    border: 1px solid #9ADACA;
}
.guba2{
    border: 1px solid #BDBBBC;
}
.gbt{
    margin: .5em 0 0.5em 0em;
    padding: 0 1em 0 1em;
}
.gtc{
   color:#00A1EA; 
}
.gbi{
    background-image: url('../images/009.png')  !important;
  
   height: 9em;
   width: 100%;
   
}
.uinn-at1{
    margin: 0.7em;
}
.li_style{
  background-color: white;
  margin-top: 0.8em;
  border-bottom: 0.5px solid #919393;
  color:#5B5B5B;
  padding-bottom: 1.5em  
}
